body {
  background: #f2f2f2;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.content img {
  margin: 20px 0;
  width: 80px;
  height: 80px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.button-container button{
  height: 40px;
  background: green;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
}
